altgraph==0.17
appdirs==1.4.4
auto-py-to-exe==2.7.8
beautifulsoup4==4.9.3
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cx-Freeze==6.2
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
googletrans==3.0.0
greenlet==0.4.17
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.10.6
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pyperclip==1.8.1
pypiwin32==223
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
rfc3986==1.4.0
sniffio==1.1.0
soupsieve==2.0.1
urllib3==1.25.10
whichcraft==0.6.1
win10toast==0.9
zope.event==4.5.0
zope.interface==5.1.2
